.carousel-item .in-obj {
  top: 50% !important;
  left: 50% !important;
  position: absolute !important;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
}

/* main {
  margin-top: 30px;
} */

.main-color1 {
  background-color: #f54f2b;
}

.carousel-caption .h20 {
  color: #fff !important;
  font-size: 55px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 100px;
  margin-top: -50px;
  color: #fff;
}

.carousel-caption p {
  color: #fff !important;
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.centered {
  margin-bottom: 100px;
  /* background-color: rgba(255, 255, 255, 0.45); */
}

.carousel-caption button {
  color: #fff !important;
  padding: 10px 30px !important;
  font-weight: bold;
  background-color: #fff !important;
  outline: none;
  border: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel .img20 {
  height: 360px;
}

.btn2 {
  border-radius: 6px;
  border: none;
  color: white;
  padding: 2px 10px;
  margin-left: 3px;
}

@media (max-width: 768px) {
  .search-results {
    display: none;
  }

  .drop-down-section {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }

  .drop-down-section input {
    border-radius: 3px;
  }

  .drop-down-section label {
    text-transform: uppercase;
    font-size: 16px;
  }
}

/* .drop-down-section {
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.drop-down-section input {
  border-radius: 3px;
}

.drop-down-section label {
  text-transform: uppercase;
  font-size: 16px;
}*/

.drop-down-section .button0 button {
  background-color: blue;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 4px;
  border: none;
  color: white;
}

.form-2 {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.drop-down-section .button1 button {
  background-color: #d45749;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 4px;
  border: none;
  color: white;
}
