active {
  color: #f54f2b;
}

.navbar-toggler--search {
  margin: 0;
}

.nav-icon {
  padding: 0;
}

.navbar-toggler--search i {
  font-size: 18px;
}

.thirty ul {
  margin-left: 500px;
}

.footer1 a {
  color: black;
}

.thirty ul a {
  color: white;
  margin-left: 0px;
  font-size: 14px;
}
.thirty ul a:hover {
  color: #f54f2b;
  border-bottom: 1px solid white;
}

.navbar-light .navbar-nav .active > .navbar-light,
.navbar-nav .nav-link .active,
.navbar-light .navbar-nav .nav-link .show > .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-light .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.navbar-nav a {
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light .navbar-brand {
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-brand {
  margin-top: 5px;
}

.navbar-toggler {
  font-size: 1.25rem;
  line-height: 1;
  color: white;
  background-color: white !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: none !important;
  -ms-flex-align: center;
  align-items: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f54f2b;
  left: 0;
  z-index: 9;
}

img {
  max-width: 100%;
  display: block;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img10 {
  width: 30%;
  height: 30%;
}

.carousel-item .in-obj {
  top: 50% !important;
  left: 50% !important;
  position: absolute !important;
  text-align: center !important;
}

.carousel-caption h4 {
  color: #ffffff !important;
  font-weight: bold;
  font-family: poppins;
}

.carousel-caption p {
  color: #ffffff !important;
  font-weight: bold;
  font-family: century gothic;
}

.carousel-caption button {
  color: #ffffff !important;
  padding: 10px 30px !important;
  font-weight: bold;
  outline: none;
  border: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sear {
  width: 400px;
  border: 4px solid darkgray;
  padding: 20px;
  overflow: hidden;
}

.sear img {
  margin-right: 15px;
}

.sear h5,
p,
a {
  margin-left: 5px;
  display: block;
  margin: 2px 0 0 o;
  text-align: end;
  margin-bottom: 0;
}

.image-card1 img {
  margin: 0 auto;
  width: auto;
}

.image-card1 {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.image-card1 img {
  display: inline;
  margin: 0 auto;
  width: auto;
}

header,
.space1 {
  padding: 4rem 0;
}

.space {
  padding: 1.5rem 0;
}

h4 {
  text-transform: uppercase;
  color: #ffffff;
}

input,
.form1 input {
  width: 100%;
}

.btn-sub {
  left: 80%;
  top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-search {
  background-color: #f54f2b;
  left: 80%;
  top: 0px;
}

.form1 form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
}

.main-color {
  color: #f54f2b;
}

.footer1 li {
  display: inline;
  justify-content: space-between;
}

.main-page {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  color: #ffffff;
}

.form1 {
  align-items: center;
}

.heading {
  bottom: 0px auto;
}

form {
  position: relative;
}

.footer {
  background-color: black;
  color: #ffffff;
}

@media (max-width: 768px) {
  h4 {
    line-height: inherit;
  }

  .img10 {
    width: 60%;
  }

  .carousel-caption h4 {
    font-size: 12px;
  }

  .carousel-caption p {
    font-size: 7px;
  }

  .form1 form {
    width: 100%;
    padding: 2px 10px;
    margin: 8px 0px;
  }

  .carousel-caption button {
    color: #ffffff !important;
    padding: 5px 15px !important;
    font-weight: bold;
    outline: none;
    border: 0px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .form-control {
    font-size: 12px;
  }

  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 2px;
    left: 15%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
  }

  header,
  .space1,
  .space {
    padding: 0.8rem 0px;
  }

  .btn-sub {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .img10 {
    width: 60px;
  }

  .thirty {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .thirty ul {
    margin-left: 0px;
  }

  .thirty ul a {
    color: white;
    margin-left: 20px;
    font-size: 20px;
  }

  header,
  .space1 {
    padding: 1.5rem 0px;
  }
}
